.not-found-page {
  padding: 150px 30px;
  font-family: "Amatic SC", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  // color: #FFAC00;
  background-image: url(../icons/big_heart.png);
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}
