.user-profile {
  padding: 30px;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__page {
    display: flex;
    justify-content: space-between;
  }

  &__left-side {
    width: 20%;
  }

  &__title {
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__menu-button {
    position: relative;
    padding: 0;
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    background-color: #fff;
    border: none;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }

    &--active {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }
  }

  &__content {
    width: 80%;
  }
}
