@import '../styles/variables.scss';

.add-new-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;

  @media (min-width: 500px) {
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 11px 10px 38px 10px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
  }
}
