@import "../styles/variables.scss";

.bread-crumbs {
  display: flex;
  align-items: center;
  font-size: 12px;
  flex-wrap: wrap;
    // font-weight: 600;
    // line-height: 16px;

  &__home {
    display: inline-block;
    // line-height: 16px;
    // width: 16px;
    // height: 16px;
    // background-image: url(../img/icons/home.svg);
    // background-repeat: no-repeat;
    // background-position: center;
  }

  // &__arrow {
  //   display: inline-block;
  //   width: 16px;
  //   height: 16px;
  //   padding: 0 8px;
  //   background-repeat: no-repeat;
  //   background-image: url(../icons/arrow-right.svg);
  //   background-position: center;
  // }

  &__item {
    // width: max-content;
    // font-size: 12px;
    // font-weight: 600;
    // line-height: 16px;

    &::before {
      display: inline-block;
      content: "";
      width: 12px;
      height: 12px;
      margin: 0 8px;
      background-image: url(../icons/arrow-right.svg);
      background-size: cover;
      transform: translateY(2px);
    }

    &--text {
      color: $gray;
    }
  }
}
