.header {
  position: relative;
  border-bottom: 2px solid #c8c8c8;

  &__nav {    
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    @media (max-width: 1150px) {
      margin: 0 40px;
      height: 80px;
    }
  }

  &__nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform .3s linear;
    z-index: 10;

    &--active {
      transform: translateX(0);
    }
  }

  &__burger-icon {
    display: none;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-image: url(../icons/burger.svg);
    background-size: contain;
    // outline: none;
    border: none;
    cursor: pointer;

    @media (max-width: 1150px) {
      display: block;
    }
  }

  &__link {
    display: block;
    position: relative;
    line-height: 36px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }

    &--active {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }
  }
  
  &__menu {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 1150px) {
      display: none;
    }
  }

  &__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 0;
    border-radius: 50px;
    border: 2px solid #FFAC00;
    transition: all 0.3s;    

    &:hover {
      background-color: #f74f22;
      border-color: #f74f22;
      color: #fff;
    }

    @media (max-width: 1150px) {
      display: none;
    }
  }
}
