.header {
  &__nav {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__link {
    display: block;
    position: relative;
    line-height: 36px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transition: all 0.3s;
    }

    &:hover {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }

    &--active {
      &::after {
        display: block;
        transform: scaleX(1);
      }
    }
  }
  
  &__menu {
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    line-height: 0;
    border-radius: 50px;
    border: 2px solid #FFAC00;
    transition: all 0.3s;

    &:hover {
      background-color: #f74f22;
      border-color: #f74f22;
      color: #fff;
    }
  }
}
