@import '../styles/variables.scss';
@import '../styles/placeholders.scss';

.moderation {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__post {
    padding: 20px;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (min-width: 500px) {
      flex-direction: row;
    }
  }

  &__image {
    // width: 100%;
    // height: auto;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;

    @media (min-width: 500px) {
      // width: 150px;
      // height: 150px;
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
    font-family: $Nunito;
  }

  &__link {
    display: inline-block;
    margin-bottom: 10px;
    font-family: $Nunito;
    color: $red;
  }

  &__text {
    margin-bottom: 20px;
    font-family: $Nunito;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 360px) {
      flex-direction: row;
    }
  }
  
  &__button {
    @extend %button;
  }
}
