@import './styles/variables.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;    
}

a, button {
  &:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
  }
}
